
/ipch
/Debug
/Release
/LaunchPlayMIDIEffect.opensdf
/LaunchPlayMIDIEffect.sdf
/VC2010/LaunchPlayEmitter/Debug
/VC2010/LaunchPlayEmitter/Release
/VC2010/LaunchPlaySequencer/Debug
/VC2010/LaunchPlaySequencer/Release
/LaunchPlayMIDIEffect.suo