
/ipch
/Debug
/Release
/LaunchPlayMIDIEffect.opensdf
/LaunchPlayMIDIEffect.sdf
/VC2010/LaunchPlayEmitter/Debug
/VC2010/LaunchPlayEmitter/Release
/VC2010/LaunchPlaySequencer/Debug
/VC2010/LaunchPlaySequencer/Release
/LaunchPlayMIDIEffect.suo
/VC2010/LaunchPlayVirtualCable/Release
/vc2010/launchplayvirtualcable/Debug
/VC2010/LaunchPlayVirtualCable/Release